* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ----------------------desktop version--------- */


.navbar_mio {

    background-color: #2c3e51;
    margin-bottom: 0;
    border-radius: 0;
    
}

.navbar_mio a {

    color: white;
}

.navbar_mio .nav li a:hover{
    background-color:  #505e6e;
}
.navbar-brand:hover {
    background-color:  #505e6e;


}

.navbar_mio.navbar-toggle .icon-bar{

    background-color: white;
    
}




/* --------- hero -------- */

.mio_bg_green {

    background-color: #19bc9d;
}

.hero_img {

    width: 200px;
    padding-top: 50px;
}

.hero_message {

    text-align: center;
    color: white;
    padding-bottom: 40px;
}

.hero_message h1 {

    text-align: center;
    color: white;
    padding: 10px 0;
}

.hero_message .star_mio {

    font-size: 30px;
    display: inline-block;
    padding: 0 0 20px;
}

.hero_message h4 {

    display: inline;
    padding: 0 15px;
}

.white_text {

    color: white;
}




/* ----cards---- */

.cards_img img {

    width: 400px;
    padding: 15px 15px;
}

.cards .img_border_radius {

    border-radius: 10px;
}
.cards h1 {

    text-align: center;
}

.cards .star_mio {

    text-align: center;
    font-size: 30px;
    padding: 10px 0;
}

.cards .cards_img img {

    border-radius: 30px;
}


/* -----About----- */

.section_green {

    background-color: #19bc9d;
    padding-bottom: 30px;
}

.section_green h1 {

    text-align: center;
    color: white;
    padding: 10px 0;
}

.section_green .section_green_star .star_mio {
    /* margin: auto; */
    font-size: 30px;
    color: white;
    padding-bottom: 25px;
    text-align: center;
}

.section_green_row {

    padding: 0 0 20px 0;
}

.section_green .btn-color {

    background-color: #19bc9d;
    border: 1px solid white;
    
}



/* contact me */

.contact_me h1 {

    text-align: center;
    padding: 20px 0;


}

.contact_me .section_green_star .star_mio {
    
    font-size: 30px;
    padding-bottom: 25px;
    text-align: center;
}

.contact_me form button {

    background-color: #19bc9d;
    
}

.contact_me form {

    padding: 20px 0;
}

form .form_btn {

    padding: 20px 0;

}



/* ----- footer top --------- */

.footer {

    background-color: #3a546d;
    color: white;
    padding-bottom: 10px;
    
}

.footer a {

    color: #269e8f;
    text-decoration: none;
}

.footer h4 ,.footer h5 {

    text-align: center;
}

.footer_bottom {

    text-align: center;
    background-color: #2c3e51;
    color: white;

}

.footer_bottom h6 {

    margin: 0;
    padding: 20px 0;
}

.social_icons li {

    list-style: none;
    
}


.social_icons .col-lg-3 li  {

    width: 50px;
    height: 50px;
    font-size: 10px;
    border: 1px solid white;
    position: relative;
    border-radius: 50%;

}

.social_icons .col-lg-3 li a {

    color: white;
}
.social_icons .col-lg-3 li a i {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}










/* ----------------------mobile version--------- */

@media (max-width: 767px) {

    .competenze h4 {
        font-size: 14px;
    }

    .navbar-right {

        display: none;
    }

    .navbar-toggle {

        display: block;
    }

    .icon-bar {

        background-color: white;
    }



    
    
}
/* -----------------tablet version --------------- */

@media (min-width: 768px) and (max-width: 991px) {






}



 /* -----------------tablet version --------------- */

@media (min-width: 992px) and (max-width: 1199px) {






}

